// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/bcm2835.h>

/ {
	compatible = "brcm,bcm2711";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			compatible = "kunbus,revpi-connect4", "brcm,bcm2711";
		};
	};

	/* PINMUX */
	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			i2c3_pins: i2c3_pins {
				/* SDA, SCL */
				brcm,pins     = <2 3>;
				brcm,function = <BCM2835_FSEL_ALT5>;
			};
			exp_core_pins: exp_core_pins {
				brcm,pins     = <8>;
				brcm,function = <BCM2835_FSEL_GPIO_IN>;
				brcm,pull     = <BCM2835_PUD_OFF>;
			};
			exp_power_pins: exp_power_pins {
				brcm,pins     = <9>;
				brcm,function = <BCM2835_FSEL_GPIO_IN>;
				brcm,pull     = <BCM2835_PUD_OFF>;
			};
		};
	};

	/* I2C3 */
	fragment@2 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3_pins>;
			clock-frequency = <400000>;
			status = "okay";

			expander_power: gpio@21 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcal6416";
				pinctrl-names = "default";
				pinctrl-0 = <&exp_power_pins>;
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio>;
				interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
			};

			expander_core: gpio@22 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcal6524";
				pinctrl-names = "default";
				pinctrl-0 = <&exp_core_pins>;
				reg = <0x22>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio>;
				interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
			};
		};
	};
};
